body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "arial", "sans-serif";
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #ccc;
  background-color: #4c3fe8;
  color: white;
}

header > h1 {
  text-align: center;
}

.header_input {
  font-size: 1rem;
  background: transparent;
  padding: 0.5rem;
  border: 1px solid white;
  color: white;
}

.logo {
  font-size: 2.5rem;
}

.container {
  display: flex;
  flex: 1;
}

nav {
  width: 80px;
  background-color: #00dbd6;
}

@media (min-width: 768px) {
  nav {
    width: 320px;
  }
}

main {
  flex: 1;
  overflow-y: auto;
}

.content {
  border-bottom: 1px solid #ccc;
  padding: 2rem 1rem;
}

.illustration {
  height: 100px;
  float: left;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 2rem 0;
  background-color: #39414a;
}

.img-container img {
  max-width: 280px;
}

.wiki {
  padding: 2rem;
}

footer {
  background-color: #4c3fe8;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

footer .logo {
  margin: 0 10px;
  color: white;
  font-size: 1.3rem;
}

.modal {
  position: fixed;
  width: 80vw;
  height: 20vh;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2rem;
  background-color: white;
  text-align: center;
  box-shadow: 0 0 10px 10px magenta;
  display: none;
}

.modal.visible {
  display: block;
}

@media (min-width: 768px) {
  .modal {
    width: 50vw;
    height: 50vh;
  }
}
