body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "arial", "sans-serif";
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #ccc;
}

.header_input {
  font-size: 1rem;
}

.logo {
  font-size: 2.5rem;
}

.container {
  display: flex;
  flex: 1;
}

nav {
  width: 320px;
  background-color: turquoise;
}

main {
  flex: 1;
  padding: 0 10px;
  overflow-y: auto;
}

.content {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.illustration {
  height: 100px;
}

.img-container {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.img-container img {
  object-fit: contain;
  min-height: 0;
  min-width: 0;
  max-width: 300px;
  max-height: 300px;
}

.wiki {
  padding: 2rem;
}

footer {
  background-color: #222;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

footer .logo {
  margin: 0 10px;
  color: #ccc;
  font-size: 1.3rem;
}
