body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "arial", "sans-serif";
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #ccc;
  background-color: #4c3fe8;
  color: white;
}

.header_input {
  font-size: 1rem;
  background: transparent;
  padding: 0.5rem;
  border: 1px solid white;
  color: white;
}

.logo {
  font-size: 2.5rem;
}

.container {
  display: flex;
  flex: 1;
}

nav {
  width: 320px;
  background-color: #00dbd6;
}

main {
  flex: 1;
  overflow-y: auto;
}

.content {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 2rem 0;
}

.illustration {
  height: 100px;
}

.img-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 2rem 0;
  background-color: #39414a;
}

.img-container img {
  max-width: 280px;
}

.wiki {
  padding: 2rem;
}

footer {
  background-color: #4c3fe8;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

footer .logo {
  margin: 0 10px;
  color: white;
  font-size: 1.3rem;
}
