body {
  margin: 0;
  background-color: bisque;
}

.menu {
  background-color: coral;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20vh;
  transition: height 200ms, width 200ms;
}

.menu.visible {
  height: 80vh;
}

@media screen and (min-width: 640px) {
  body {
    display: flex;
  }

  .menu {
    position: relative;
    height: 100vh;
    width: 10vh;
    min-width: 5rem;
  }

  .menu.visible {
    height: 100vh;
    width: 40vw;
  }

  .content {
    padding: 2rem;
  }
}

.content {
  color: darkslategrey;
  font-size: 2rem;
  width: 60vw;
  margin: 2rem auto;
}

.btn {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  line-height: 3rem;
  background-color: #222;
  border-color: #222;
  border-radius: 5px;
}

.menu:not(.visible) + .btn .btn_face.close {
  display: none;
}

.menu.visible + .btn .btn_face.open {
  display: none;
}
